#greenHeader{
    color: #005A2D;
}

.background-handshake{
    background: url('../img/hand.jpg');
    background-repeat:no-repeat;
}
.fore-color-yellow{
    color:#ffcc00;
}
.fore-color-white{
 color:white;
}
.text-size-big{
    font-size: 80px;
    text-align: right;
}
.center-div{
    width: 60%;
    margin: 0 auto;
}

#greenHeader{
    color: #005A2D;
    margin-bottom: 25px;
}

#mission{
    color: gray;
}

.verticalLine {
    border-left: medium solid gray;
    margin-right: 20px;

}

#missioncontent {
    margin-left: 20px;
}

#focuscontent {
    margin-left: 20px;
}

.container{
    width: 950px;
}
#footercontent{
    font-size: 90%;
    margin-top: 20px;
}

.yearpagecontent{

    font-family: "Century Gothic";

}

#left, #center {
    width: 33%;
}

#right {
    width: auto;

}

.topbuffer{
    margin-top: 150px;
}

.topbuffersmall{
    margin-top: 20px;
}


.insideunccharlotte-body{
    background-color: #786D68 !important;
}

#insideunccharlotteheader{
    color: #FCB828;
    margin-bottom: 40px;
}

.yellowverticalline{

    border-left: medium solid #FCB828;

    color: white;
}

.borderrightbuffers{
    margin-left: 10px;
}

.middlecontent1{
    margin-top: 25px;
    color: #FCB828;
}

.middlecontent2 {
    margin-top: 43px;
    color: #FCB828;
}
.margin-left{
    margin-left: 20px;
}
.text-size-medium{
    font-size: 26px;
}
.text-size-small{
    font-size: 15px;
}
.margin-top{
    margin-top: 14px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}