.greenHeader{
    color: #005A2D;
    margin-top: 90px;
}

.background-handshake{
    background: url('../img/hand.jpg');
    background-repeat:no-repeat;
}
.fore-color-yellow{
    color:#ffcc00;
}
.fore-color-white{
 color:white;
}
.text-size-big{
    font-size: 80px;
    text-align: right;
}





body:after {
    content: "";
    background-image:url('../img/uncc.jpg');
    background-repeat:repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}




.center-div{
    width: 60%;
    margin: 0 auto;

}

#greenHeader{
    color: #005A2D;
    margin-bottom: 25px;

}

#mission{
    color: gray;
}

.verticalLine {
    border-left: medium solid gray;
    margin-right: 20px;

}

#missioncontent {
    margin-left: 20px;
}

#focuscontent {
    margin-left: 20px;
}

.container{
    width: 950px;
}
#footercontent{
    font-size: 90%;
    margin-top: 20px;
}

.yearpagecontent{

    font-family: "Century Gothic";

}

#left, #center {
    width: 33%;
}

#right {
    width: auto;

}

.topbuffer{
    margin-top: 150px;
}

.topbuffersmall{
    margin-top: 20px;
}


/*
.insideunccharlotte-body{
    background-color: #786D68
}
*/

#insideunccharlotteheader{
    color: #005A2D;
    margin-bottom: 40px;
    margin-top: 100px;
}

.yellowverticalline{

    border-left: medium solid #005A2D;
}

.borderrightbuffers{
    margin-left: 10px;
}

.middlecontent1{
    margin-top: 25px;
    color: #005A2D;
}

.middlecontent2 {
    margin-top: 43px;
    color: #005A2D;
}
.margin-left{
    margin-left: 20px;
}
.text-size-medium{
    font-size: 26px;
}
.text-size-small{
    font-size: 15px;
}
.margin-top{
    margin-top: 14px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

p {
    font-weight: 600;
}

h4{
    font-weight: 900;
}

#year{
    margin-top: -50px;
}

#benefits{
    margin-top: 100px;
}

.jumbotron{
    background-color: #C3C3C3;
}
